<style type="text/css">
a { padding: 10px;line-height: 35px;}
.chengyu {color:#228B22; font-size:21px;  text-align:center;border-bottom:5px solid #77b8e4;}
.biaoti { color: #FFFFFF; background-color: #008000;width:50px;text-align:center;margin: 10px;text-indent: 1px;}
.neirong { color:##000000;text-indent: 30px;line-height: 25px;}
.pingyi {margin: 10px;color:blue;font-size:20px;}
</style>